.navbar-right{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  a.nav-text {
      color: aqua;
  }
  a.nav-text1 {
    color: white;
}